{{!-- <div class="row text-content">
  <h1 class="size-h1"> {{{h1}}} </h1>
</div> --}}
{{!-- Close Door Text Section --}}
<div class="row text-content">
    <div class="close-door-container">
        <div class="close-door-item close-door-left">{{{closeDoorTextLeft}}}</div>
        <div class="close-door-item close-door-right">{{{closeDoorTextRight}}}</div>
   </div>
</div>

<div class="row">
  <div class="feature">
    <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-src="{{{featuredImage.desktopUrl}}}"
    data-src-small="{{{featuredImage.mobileUrl}}}"
    class="b-lazy feature-image full-width"
    alt="{{{featuredImage.alt}}}"
    title="{{{featuredImage.title}}}" />
  </div>
</div>




{{!-- Chantown Creative Section --}}
{{!-- <div class='row text-content'>
    <div class='padding-top-3x'>
        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{{chantownCreativeLogo.desktopUrl}}}"
        data-src-small="{{{chantownCreativeLogo.mobileUrl}}}"
        class="b-lazy logo logo--chantown-inpage"
        alt="{{{chantownCreativeLogo.alt}}}" />
        </div>
</div> --}}

<div class="row text-content">
    <h2 style="padding-top: 0.7em">{{{h1}}}</h2>

    {{{content1}}}
    <!-- Include book links -->
    {{!-- @@include('../widgets/_bookLinks.html') --}}
    {{!-- <br> --}}
</div>

<div class="row text-content">
    <h2 style="padding-top: 0.7em">{{{h1b}}}</h2>

    {{{content2}}}
</div>

<div class="row text-content">
    <h2 style="padding-top: 0.7em">{{{h1c}}}</h2>

    {{{content3}}}
</div>

<div class="row text-content clients-wrapper">
  {{{clientText}}}
  <div class="row ">
    <ul class="list__clients">
      <!-- Include clients links -->
      @@include('../widgets/_clientImages.html')
    </ul>

  </div>
</div>
